body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6441a5; /* Twitch purple */
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: burlywood;
}

#video-container {

    align-items: center;
}